@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  /* --Check Background: linear-radient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) */

  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
}

:root {
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  display: grid;
  min-height: 100vh;
  min-height: 100svh;
}

img {
  width: 100%;
  object-fit: contain;
}
main {
  display: grid;
  height: 100%;
}
.circle {
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--Very-Dark-Grayish-Blue);
}
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  grid-row: 1;
  right: 0;
  left: 0;
  top: 2.3rem;
  padding-inline: 1.5rem;
  gap: 1.8rem;
}
.create-input {
  all: unset;
  /* background-color: var(--Very-Dark-Desaturated-Blue); */
  color: var(--Light-Grayish-Blue);
  caret-color: var(--Bright-Blue);
  padding-block: 1rem;
  width: 100%;
  font-size: 0.65rem;
}
.input-container {
  background-color: var(--Very-Dark-Desaturated-Blue);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-inline: 1.1rem;
  border-radius: 0.2rem;
}

.todo-header-container {
  display: flex;
  justify-content: space-between;

  & > h1 {
    color: white;
    letter-spacing: 0.62rem;
    font-size: 1.75rem;
  }

  & > button {
    width: 1.3rem;
  }
}
